.container {
  max-width: 1024px;
  min-height: 100dvh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background: #181a20;
}

.header {
  height: 55px;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px;
  background: #181a20;
  font-size: 21px;
  line-height: 1;
}

.header div {
  padding-bottom: 5px;
}

.content {
  min-height: calc(100dvh - 115px);
}

.footer {
  height: 60px;
  background: #181a20;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-top: 1px solid #2b3139;
}
